<h1>
  ようこそ
  <strong class="bookers-name">Bookers</strong>
   へ！
</h1>

<div class="box">
<p class="p1"><strong class="bookers-name">Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>

<P class="p2">印象を共有し交換することができます</P>

<a href= "/books">start</a>

</div>